name: Django Back CI

on:
  push:
    branches: [ "main" ]

permissions:
  contents: read

jobs:
  continuous-integration:
  
    runs-on: ubuntu-20.04

    steps:
    - name: Check out repository
      uses: actions/checkout@v3
    
    - name: Set up Python 3.6
      uses: actions/setup-python@v2
      with:
        python-version: 3.6.14

    - name : Create virtual environment
      run: python3.6 -m venv venv
      
    - name: Install Dependecies
      run: |
        python -m pip install --upgrade pip
        pip install -r dependencies.txt

